<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Listings for <code data-th-text="${country}"></code></h1>
<p data-th-if="${listings.isEmpty()}">
    No accommodations found!
</p>
<table data-th-unless="${listings.isEmpty()}">
    <tr>
        <th>Address</th>
        <th>Price</th>
        <th>Image</th>
        <th></th>
    </tr>
    <tr data-th-each="listing: ${listings}" data-th-object="${listing}">
        <td data-th-text="*{addressStreet}"></td>
        <td data-th-text="*{price}"></td>
        <td><img data-th-src="@{{image}(image=*{image})}" alt="img" height="150px" width="150px"></td>
        <td><a data-th-href="@{listing/{id}(id=*{id})}">Details</a></td>
    </tr>
</table>
</body>
</html>